:root{
  /* --firstColor : rgb(5, 165, 0);
  --firstColorOpacity : #c2ebd4;
  --secondColor : #32b7e9;
  --secondColorOpacity : #32b8e94b; */
  --firstColor : #2e3192;
  --firstColorOpacity : #2e319228;
  --secondColor : #cc4820;
  --secondColorOpacity : #f790707a;
  --secondColorOpacity2 :#cc48209a;
  --thirdColor:#86bd42;
  /* --headerBkColor : #04050585; */
  --headerBkColor :var(--firstColor);
  --headerBkColorBrighter : #00314083;
  /* --BG-img : url("/img/veganBG4.png"); */
  --header-img: url("/img/download.gif");
  --header-img2:url("/img/download2.gif");
--borderElement:solid 1px rgba(128, 128, 128, 0.342);
  direction:rtl;

  font-size: 14px;
  --text-primary: #b6b6b6;
  --text-secondary: #ececec;
  --bg-primary: #23232e;
  
  --bg-secondary: #141418;
  --transition-speed: 600ms;
}
body,html{
 
  margin: 0;
  padding: 0;
}


.aboutPage h1,
.aboutPage h2
{
  max-width: 550px;
  color:var(--firstColor);
  margin: auto;
  padding:20px;
  animation: fadeIn 0.3s;

}

.aboutPage h2{
color:var(--thirdColor);

}

.aboutPage h3{
  /* color:var(--secondColor); */
  max-width: 650px !important;
  margin: auto;
  animation: fadeIn 0.3s;

}

@-webkit-keyframes fadeIn { 
  0% { opacity: 0; }
  20% { opacity: 0; }
  40% { opacity: 0.3; }
  60% { opacity: 0.5; }
  80% { opacity: 0.9; }
  100% { opacity: 1; }
}

@keyframes fadeIn {
  0% { opacity: 0; }
  20% { opacity: 0; }
  40% { opacity: 0.3; }
  60% { opacity: 0.5; }
  80% { opacity: 0.9; }
  100% { opacity: 1; }
}

  input, textarea,div {
  -webkit-user-select: text;
  -khtml-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
}

*{
  -webkit-appearance: none;
  /* direction:rtl; */
    box-sizing: border-box;
    animation: fadeIn 0.3s;

}


a{
  text-decoration: none;
}

.appWrap {
  text-align: center;
  min-height: 100vh;
 }


.App-header {
  /* background-color: rgba(255, 255, 255, 0); */
  /*
   background-color:var(--headerBkColor);  */
   /* background-image: url(https://i.imgur.com/TsUJAoC.png);
  background-position: center center;
  background-size:auto 100% ;
  background-repeat: no-repeat;
  */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  /* border-bottom: var(--secondColorOpacity) solid 1px; */
  height:250px;
 
}
.logoImg{
margin-top:35px;
animation: spin 20s linear infinite;
}
.logoHeader{
  background-image: url("../src/imgSRC/mosrimLogoBG.png");
  background-position: center center;
  background-size:auto 100% ;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  display :flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
@keyframes spin {
  from {transform:rotate(0deg);}
  to {transform:rotate(360deg);}
}




.socialLinks{
  justify-content: space-around;
  align-items: center;
 display:flex;
 flex-direction:row;
}
.card{
 
  background-image: url( https://i.imgur.com/4C3Vhkm.png);
  background-position:  center;
  background-size:auto 100%  ;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

input,
textarea{
    -webkit-user-select: text;
    -khtml-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
    
}

.landingForm {

  width: 80%;
  background-color: var(--firstColorOpacity);
  border: var(--borderElement);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  font-weight: bold;
  margin: auto;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  padding:15px;
}
.topLandingForm{
  width: 80%;
  /* background-color: var(--firstColorOpacity); */
  /* border: var(--borderElement); */
  /* border-radius: 15px; */
  display: flex;
  flex-direction: column;
  font-weight: bold;
  margin: auto;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  padding:15px;
}

.formHead {
  color: var(--thirdColor);
  text-align: center;
}

.inputs {
  background-color: var(--firstColorOpacity);
  border: var(--borderElement);
  border-radius: 5px 5px 5px 5px;
  line-height:1.8em;
  padding: 5px;
  width: 50%;
  margin:15px;
  outline: none;
  -webkit-box-shadow: 10px 10px 18px -6px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 18px -6px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 18px -6px rgba(0,0,0,0.75);
  border:1px solid var(--firstColorOpacity);
}
.inputsHeader{
  background-color: var(--firstColorOpacity);
  border: var(--borderElement);
  border-radius: 5px 5px 5px 5px;
  line-height:1.8em;
  padding: 5px;
  width: 50%;
  margin:2.5px;
  outline: none;
  -webkit-box-shadow: 10px 10px 18px -6px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 18px -6px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 18px -6px rgba(0,0,0,0.75);
  border:1px solid var(--firstColorOpacity);
}
.call{
color:#86bd42;
font-size: 1.2rem;
}
.formComponent{
  height: 350px;

}
.inputsHeader{
  line-height: 1.1em;
  border:1px solid var(--firstColorOpacity);

}
::placeholder{
  text-align: center;
  color : var(--firstColor)
}

.submit {
  background-color: var(--firstColor  );
  color:white;
  font-weight: bold;
  width: fit-content;
  border-radius: 15px;
  border: var(--borderElement);
  padding:10px;


}

.submit:hover {
  cursor: pointer;
  opacity: 1;
}
  .nav_item{
     color:white;
     width: 100%;
     height: 100%;
    border-bottom: 2px solid transparent;
    padding-top:5px;
    padding-bottom: 5px;
}
.nav_item:hover{
border-bottom: 2px solid white;

}





@media screen and (max-width:900px) {


.landingForm {
  width:100%;
  height: 100%;
  padding: 5px;
  border-bottom: var(--borderElement);
  border-radius: 0;
}

.inputs {
  width: 90%;
  padding: 10px;

}

.submit{
  width: fit-content;
  opacity: 1;
}

}
.projectsFlexWrapper{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-start;


   /* margin: 5px; */
  /*  margin-top:10px;
    align-items: center;*/
    justify-content: center; 
    align-content: center;
    min-height:calc(100vh - 350px);
    /* background-color: var(--secondColorOpacity);; */
    margin: auto;
    width: 70vw; 
    border-radius: 15px;
    /* border:solid 1px var(--secondColor); */
}

.projectsFlexWrapper .projCard{
  background-color: rgba(255, 255, 255, 0.712);
  border:solid 1px rgba(160, 160, 160, 0.5);
  -webkit-box-shadow: 10px 10px 18px -6px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 18px -6px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 18px -6px rgba(0,0,0,0.75);
  
  }
  [aos="fade"] {
    opacity: 0;
    transition-property: opacity;
  }
  
  [aos="fade"].aos-animate {
    opacity: 1;
  }
.linkIcon img{
  align-self: center;
}
@media screen and (max-width: 900px) {
  .animated {
    /*CSS transitions*/
    -o-transition-property: none !important;
    -moz-transition-property: none !important;
    -ms-transition-property: none !important;
    -webkit-transition-property: none !important;
    transition-property: none !important;
    /*CSS transforms*/
    -o-transform: none !important;
    -moz-transform: none !important;
    -ms-transform: none !important;
    -webkit-transform: none !important;
    transform: none !important;
    /*CSS animations*/
    -webkit-animation: none !important;
    -moz-animation: none !important;
    -o-animation: none !important;
    -ms-animation: none !important;
    animation: none !important;
}
.App-header{
  grid-template-columns: 1fr;
  grid-template-rows: 85% 15%;
  margin-top:3.5rem;

}

.logoImg{
  width: 130px;
  height: auto;
}

.socialLinks{
  height: 40px;
  margin: 0;
  
}

.contact{
  width: 0;
  display:none;
}
  .grid{
    width: 100vw;
    height: fit-content;
   }
  .appWrap {
        background-size: cover;

      }

      .projectsFlexWrapper .projCard{

        -webkit-box-shadow: none;
        -moz-box-shadow:  none;
        box-shadow:  none;
        height: 100%;
        margin:0;
      }
      .projectsFlexWrapper .projCard:nth-child(even){
                  background-color: rgb(240, 240, 240); 
                    margin: auto;
                    border: none;
                          }



     .projectsFlexWrapper{
      align-content: center;
      width: 100%;
      border:none;
      border-top:2px var(--secondColorOpacity) solid;
      border-radius: 0;
      }
}


body {

  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  width: 0;
  height: 0;
}


.appWrap {
  margin-right: 5rem;
  /* padding: 1rem; */
  margin-left: 5rem;
}

.navbar {
  position: fixed;
  right:0;
  background-color: var(--bg-primary);
  transition: width 600ms ease;
  overflow: scroll;
  width: 5rem;

}

.navbar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;

}

.nav-item {
  width: 100%;

}

.nav-item:last-child {
  margin-top: auto;
}

.nav-link,.nav-linkLogo {
  display: flex;
  align-items: center;
  height: 5rem;
  text-decoration: none;
  /* filter: grayscale(0%) opacity(0.7); */
  transition: var(--transition-speed);
  /* color: var(--thirdColor); */

}
.link-text {
  display: none;
  margin:auto;
    overflow: hidden;
    width: 0;
    color: white;
  font-weight: bold;
  }
.nav-link:hover {
  /* filter: grayscale(0%) opacity(1); */
  background-color:var(--thirdColor);
  color: black;
}



.navIcon {
  width: 2rem;
  min-width: 2rem;
    margin: 0 1.5rem; 
transition: var(--transition-speed);
  /* margin: 0 auto 1.5rem; */
}
.navIconLogo{
  width: 2rem;
  min-width: 2rem;
  margin: 0 1.5rem; 
  /* margin: 0 auto 1.5rem; */

}
.nav-linkLogo img{
  background-color: rgb(255, 255, 255);
}


.logoNav {
  font-weight: bold;
  
  margin-bottom: 1rem;
  text-align: center;
  color: var(--text-secondary);
     background: var(--firstColor);
  font-size: 1.5rem;
  letter-spacing: .2ch;
  width: 100%;
}

.navIconLogo  {
  transform: rotate(-180deg);
  transition: var(--transition-speed);

}


.navbarOpen .link-text{
  width: 100px;
}
.navbarOpen .navIconLogo  {
  transform: rotate(0);
  
  left: 0;
  position: absolute;
}
.logo-text
{
  display: inline;
  position: absolute;
  right: -999px;
  transition: var(--transition-speed);
}
/* Small screens */
@media only screen and (max-width: 600px) {
  .nav-item:last-child {
    margin: auto;
  }
  .navIcon  {
    width: 50%;
    height: auto;
    margin:1rem ;
  }
  .navbar {
    bottom: 0;
    width: 100vw;
    height:5rem;
    overflow: unset;
    direction:rtl;
  }

  .navIconLogo {
    display: none;
    width: 0;
    visibility: hidden;
  }

  .navbar-nav {
    flex-direction: row;
    justify-content: space-around;
  }
.nav-linkLogo,.logoNav{
  display:none;
  width: 0;
  height: 0;
  padding:0;
  margin:0;
  visibility: hidden;
}
  .appWrap {
    margin: 0;
    margin-bottom: 5rem;
    margin-top: 2.5rem;
  
  }
  .logoHeader{
    z-index:-1;
  }
  .logo-text{display: none;}
}

/* Large screens */
@media only screen and (min-width: 600px) {
  .navbar {
    top: 0;
    height: 100vh;

  }

  .navbarOpen {
    width: 16rem;
  }

  .navbarOpen .link-text {
    display: inline;
  }

  .navbarOpen .navIconLogo
  {
    margin-left: 1.5rem;
  }

  .navbarOpen .logo-text
  {
    right: 0px;
  }


  }    

.navIconLogo  {
border-radius:50%;
filter: invert(1);
}




/* ---------------------------------------------- */


.navbarLeft {
  position: fixed;
  left:0;
  background-color: var(--bg-primary);
}

.navbar-navLeft {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  justify-content: space-around;
}

.nav-itemLeft {
  width: 100%;
text-align: center;
font-size: 30px;
}


.nav-linkLeft {
  display: flex;
  align-items: center;
  height: 5rem;
  color: var(--text-primary);
  text-decoration: none;
  /* filter: grayscale(0%) opacity(0.7); */
  transition: var(--transition-speed);
  /* width: 100%; */
  justify-content: center;
}

.nav-linkLeft:hover {
  /* filter: grayscale(0%) opacity(1); */
  background: var(--thirdColor);
  color: var(--text-secondary);
}



/* Small screens */
@media only screen and (max-width: 600px) {

  .navIconLeft  {
    width: 50%;
    height: auto;
    margin:1rem ;
  }
  .navbarLeft {
    top: 0;
    width: 100vw;
    height: fit-content;
    overflow: unset;
    direction:rtl;
  }


  .navbar-navLeft {
    flex-direction: row;
    justify-content: space-around;
  }

  .nav-linkLeft {
    justify-content: center;
  }

  .appWrapLeft {
    margin: 0;
    margin-top: 5rem;
  }
}

/* Large screens */
@media only screen and (min-width: 600px) {
  .navbarLeft {
    top: 0;
    width: 5rem;
    height: 100vh;
  }

  .navbarLeft:hover {
    /* width: 16rem; */
  }

  .navbarLeft:hover .link-textLeft {
    display: inline;
  }

  .navbarLeft:hover .navIconLogoLeft
  {
    margin-left: 1.5rem;
  }

  .navbarLeft:hover .logo-textLeft
  {
    left: 0px;
  }
}

.navIconLogoLeft  {
border-radius:50%;
filter: invert(1);
}

.link{
  width:fit-content;

  padding:10px;
  font-weight: bold;
  background-color:var(--firstColor);
  color:var(--secondColor);
  margin:10px;
  border-radius: 5px;
  border: 1px solid rgba(214, 214, 214, 0.185);
  -webkit-box-shadow: 10px 10px 18px -6px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 18px -6px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 18px -6px rgba(0,0,0,0.75);
}


.link:hover{
  background-color:var(--secondColor);
  color:var(--firstColor);

}
.imge{
  width: 85%;
  height: 60%;
  border-radius: 15px;
  opacity: 0.7;
  margin:auto;
  display:flex;
  flex-direction: column;
  justify-content:space-around;
  border:2px solid rgba(161, 161, 161, 0.452);
}
.projCard{
  display:grid;
  z-index: -10;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  
  /* border-bottom:var(--secondColor) 1px solid; */
    text-align: center;
    margin:10px;
    padding:10px;
      border-radius: 5px; 
      width: 750px;
      height: 100%;
  background-size: 100% 100%; 
  /* background-blend-mode: saturation; */
  /* position:relative; */
  }
.projCard a{
  margin-top: 1px;
}
.btns{
margin:auto;
display:flex;
flex-direction: row;

}
.flip-card {
  background-color: transparent;
  width: 250px;
  height: 250px;
  perspective: 1000px;
  display:flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: center;
  /* padding:10px; */
  /* border:var(--secondColorOpacity) 1px solid; */
  margin: auto;
  border-radius: 15px;

      
  -webkit-box-shadow: 10px 10px 18px -6px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 18px -6px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 18px -6px rgba(0,0,0,0.75); 
}


.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); */
}

.flip-card:hover .flip-card-inner,
.flip-card2:hover .flip-card-inner {
  /* transform: rotateY(180deg); */
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}



.flip-card-back {
  background-color: var(--secondColor);
  color: black;
  transform: rotateY(180deg);

  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.projDesc{
margin:auto;
color:black;

}


@media screen and (max-width: 800px) {
  .flip-card{
      width: 80vw;
      margin:auto;
  }
    
  .projCard{
      grid-template-columns: 1fr ;
      grid-template-rows: 1fr  1fr;
      border-radius: 0;
      padding:5px;
      width: 100%;


  }
  /* .btns{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateY(-50%);

  transform: translateX(-50%);
      
      } */

  .projDesc{
      grid-row: 1;
      width: 90%;
  }
}

.active_item{
  background: var(--thirdColor);
  color: black ;
}